<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688006449226-9ankio8d6l1ak889v1il429cbrs16qed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688006449226-9ankio8d6l1ak889v1il429cbrs16qed</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>688006449226-cpcddto2jdo3r9df83cjh5el8ecohrq1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCY_uYw_SuKXHphR5ooC_eoUu5r4NIlclc</string>
	<key>GCM_SENDER_ID</key>
	<string>688006449226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.risetechpreneur</string>
	<key>PROJECT_ID</key>
	<string>rise-tech-121</string>
	<key>STORAGE_BUCKET</key>
	<string>rise-tech-121.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688006449226:ios:61fb716e3a2cb020a63eb3</string>
</dict>
</plist>